<header>
    <span (click)="navigateToDashboard()"><img src="assets/Horizontal-Colorida.png" alt="logo-uniceplac" class="logo"></span>
    <nav class="navegacao">
        <a *ngIf="adm" (click)="navigateToRegisterEvent()">Cadastrar Evento</a>
        <a (click)="navigateToDashboard()">Eventos</a>
        <a (click)="navigateToAboutUs()">Sobre nós</a>
        <a (click)="navigateToContact()">Contato</a>
        <a (click)="navigateToLogin()">Login</a>
        <a (click)="navigateToRegister()">Registrar</a>
    </nav>
</header>
