<div class="wrapper-second">
    <span class="icon-close" (click)="navigateToDashboard()"><span class="material-symbols-outlined">close</span></span>
    <div class="form-box-second">
        <h2>Sobre nós</h2>
        <p>Nós somos um grupo de estudantes do 4° semestre do curso de Análise e Desenvolvimento de Sistemas da Uniceplac e essa página é apenas um protótipo de estudo da matéria Projeto Integrador de Desenvolvimento Web. O motivo da criação da página é de atender às necessidades do público em geral, mostrando de forma simples e minimalista através desse site, os eventos da região de Brasília e entorno. Para que o público possa acessar de forma gratuíta e ficar por dentro das novidades que estão rolando por aí!</p>
        <br>
        <h2>Curtiu o nosso trampo?</h2>
        <p>Se curtiu, não esquece de fortalecer dando uma presença em nosso LinkedIn abaixo:</p>
        <br>
        <a href="https://www.linkedin.com/in/jo%C3%A3o-paulo-dourado-ponce-nery-012951234/" target="_blank">JOÃO PAULO DOURADO PONCE NERY (FRONT END)</a>
        <a href="https://www.linkedin.com/in/arthur-almeida-18b442244/" target="_blank">ARTHUR ALMEIDA (BANCO DE DADOS)</a>
        <a href="https://www.linkedin.com/in/hygor-pinheiro-b27502199/" target="_blank">HYGOR PINHEIRO ROCHA LIMA (BACK END)</a>
        <a href="https://www.linkedin.com/in/dorival-lopes-832247234/" target="_blank">DORIVAL VIEIRA LOPES FILHOS (BANCO DE DADOS)</a>
        <a href="https://www.linkedin.com/in/mateus-figueiredo-de-oliveira-55230a288/" target="_blank">MATEUS FIGUEREDO DE OLIVEIRA (BACK END)</a>
    </div>
</div>
