<mat-card class="example-card">
  <span class="icon-close" (click)="closeDialog()"><span class="material-symbols-outlined">close</span></span>
  <div class="sides">
  <div class="left-card">
    <mat-card-header>
      <h3>Comentários</h3>
    </mat-card-header>
    <mat-card-content class="event-name">
      <div>{{card.nome}}</div>
    </mat-card-content>
    <mat-card-content>
      <img src="{{card.img}}" alt="comment-img">
    </mat-card-content>
    <div class="comment">
      <form #commentForm="ngForm" (ngSubmit)="addComment(); saveComments()">
        <label for="comment">Seu Comentário:</label>
        <textarea id="comment" name="comment" rows="4" cols="50" [(ngModel)]="newCommentText" required></textarea>
        <br><br>
        <input type="submit" value="Enviar" class="btn">
      </form>
    </div>
  </div>
  <div class="right-card">
    <div class="inside-comments">
      <div *ngFor="let comment of comments" class="unit-comments">
        <div>{{comment.text}}</div>
      </div>
    </div>
  </div>
</div>
</mat-card>
