<div class="wrapper-second">
    <span class="icon-close" (click)="navigateToDashboard()"><span class="material-symbols-outlined">close</span></span>
    <div class="form-box-second">
        <img src="/assets/contato projeto 2 copiar.png" alt="">
    </div>
    <div class="media">
        <a href="https://www.instagram.com/uniceplac_oficial/" target="_blank"><img src="assets/87390.png" alt="Instagram"></a>
        <a href="https://www.uniceplac.edu.br/" target="_blank"><img src="assets/horizontal-black-PhotoRoom.png-PhotoRoom.png" alt="Site Oficial Uniceplac"></a>
        <a href="https://api.whatsapp.com/send?phone=556130353932" target="_blank"><img src="assets/1384023.png" alt="Whatsapp"></a>
    </div>
    <div class="personagem1">
      <img src="/assets/farmacia.png" alt="farmacia">
    </div>
    <div class="personagem2">
      <img src="/assets/cosmetica.png" alt="costemica">
    </div>
</div>
