<div mat-dialog-content class="edit-button">
  <span class="icon-close" (click)="closeDialog()"><span class="material-symbols-outlined">close</span></span>
 <div class="title">
  <h1>Editar Evento</h1>
 </div>
 <div class="event-info">
  <label for="img">URL da Imagem do Evento</label>
  <input type="text" placeholder="{{card.img}}" name="img" id="img">
  <label for="name">Nome do Evento</label>
  <input type="text" placeholder="{{card.nome}}" name="name" id="name">
  <label for="descricao">Descrição do Evento</label>
  <input type="text" placeholder="{{card.descricao}}" name="descricao" id="descricao">
  <label for="url">URL do Evento</label>
  <input type="text" placeholder="{{card.url}}" name="url" id="url">
  <button type="submit" class="btn">Confirmar</button>
</div>
</div>
