<div mat-dialog-content class="edit-button">
  <span class="icon-close" (click)="closeDialog()"><span class="material-symbols-outlined">close</span></span>
 <div class="title">
  <h1>Editar Evento</h1>
 </div>
 <div class="event-info">
  <input type="text" placeholder="{{card.img}}">
  <input type="text" placeholder="{{card.title}}">
  <input type="text" placeholder="{{card.subtitle}}">
  <input type="text" placeholder="{{card.url}}">
  <button type="submit" class="btn">Confirmar</button>
</div>
</div>
