<div mat-dialog-content class="edit-button">
  <span class="icon-close" (click)="closeDialog()"><span class="material-symbols-outlined">close</span></span>
 <div class="title">
  <h1>Editar Evento</h1>
 </div>
 <form class="event-info" (ngSubmit)="editEvent()" #eventoForm="ngForm">
  <label for="img">URL da Imagem do Evento</label>
  <input type="text" placeholder="{{card.img}}" name="img" id="img" [(ngModel)]="eventoProp.img">
  <label for="name">Nome do Evento</label>
  <input type="text" placeholder="{{card.nome}}" name="name" id="name" [(ngModel)]="eventoProp.nome">
  <label for="descricao">Descrição do Evento</label>
  <input type="text" placeholder="{{card.descricao}}" name="descricao" id="descricao" [(ngModel)]="eventoProp.descricao">
  <label for="url">URL do Evento</label>
  <input type="text" placeholder="{{card.urlEvento}}" name="url" id="url" [(ngModel)]="eventoProp.urlEvento">
  <button type="submit" class="btn" type="submit" (click)="editEvent()">Confirmar</button>
 </form>
</div>
