<div class="wrapper-second">
    <span class="icon-close"><span class="material-symbols-outlined">close</span></span>
    <div class="form-box-second">
        <h2>Cadastrar Evento</h2>
        <div class="form">
            <label for="text">Nome do Evento</label>
            <input type="text" id="text" name="text">
            <label for="address">Endereço do Evento</label>
            <input type="text" id="address" name="address">
            <label for="image">Imagem do Evento</label>
            <input type="file" name="image" id="image" class="btn btn-success"/>
            <br><br>
            <button class="button-89" role="button">Button 89</button>
        </div>
    </div>
</div>
