<div class="wrapper-second">
  <span class="icon-close"><span class="material-symbols-outlined">close</span></span>
  <div class="form-box-second">
    <h2>Cadastrar Evento</h2>
    <form class="form" (ngSubmit)="saveEvent()" #eventoForm="ngForm">
      <label for="nome">Nome do Evento</label>
      <input type="text" id="nome" name="nome" [(ngModel)]="eventoProp.nome">
      <label for="descricao">Descrição do Evento</label>
      <input type="text" id="descricao" name="descricao" [(ngModel)]="eventoProp.descricao">
      <label for="img">URL da Imagem do Evento</label>
      <input type="text" id="img" name="img" [(ngModel)]="eventoProp.img">
      <label for="urlEvento">URL do Evento</label>
      <input type="text" id="urlEvento" name="urlEvento" [(ngModel)]="eventoProp.urlEvento">
      <br>
      <button class="button-89" role="button" type="submit">Cadastrar Evento</button>
    </form>
  </div>
</div>
