  @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

.all-content{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover; 
    background-position: center;
    background-image: url('/assets/stardust-1920x1080.png');
    background-blend-mode: overlay;
}

h1, p{
    font-family: 'Space Mono', monospace;
}
