<div class="wrapper">
  <span class="icon-close" (click)="navigateToDashboard()"><span class="material-symbols-outlined">close</span></span>
  <div class="form-box login">
      <h2>Registro</h2>
      <form action="#">
          <div class="input-box">
              <span class="icon"><span class="material-symbols-outlined">mail</span></span>
              <input type="email" required>
              <label>Email</label>
          </div>
          <div class="input-box">
              <span class="icon"><span class="material-symbols-outlined">lock</span></span>
              <input type="password" required>
              <label>Senha</label>
          </div>
          <div class="input-box">
              <span class="icon"><span class="material-symbols-outlined">lock</span></span>
              <input type="password" required>
              <label>Confirme sua Senha</label>
          </div>
          <button type="submit" class="btn">Confirmar</button>
          <div class="login-info">
              <p><span class="material-symbols-outlined">info</span>Ainda não tem registro? <strong>Registre aqui</strong></p>
          </div>
      </form>
  </div>
</div>

